{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>About</title>
    <link rel="stylesheet" href="{% static 'MainApp/about.css'%}">
    
{% endblock head %}

{% block body %}
    <div class="inner-container">
        <div class="about-header">
            <img src="{% static 'Images/logo.png' %}" class="animate__animated  animate__jello" height="100px" />
            <span class="title-about animate__animated animate__bounceInDown">ACM GIT</span>
        </div>
        <main class="main">
            <section class="section">
              <h2 class="heading">Our Mission</h2>
              <p>At ACM KLS GIT, our mission is to provide a platform for students interested in computer science and related fields</p>
            </section>
        
            <section class="section">
              <h2 class="heading">Get Involved</h2>
              <p>Join us in exploring the vast realms of computing and shaping the future through technology.</p><br>
              <p>Connect with us:</p>
              <a href="https://www.instagram.com/acm_klsgit?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA==">
                <div class="fa fa-instagram insta "></div>
              </a>
            </section>
          </main>

</div>


{% endblock body %}