{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>ACM</title>
    <link rel="stylesheet" href="{% static 'MainApp/home.css'%}">
    
{% endblock head %}
{% block body %}
    <div class="inner-container">
      <div class="event-header ">
      <div class="event-title animate__animated animate__rubberBand">ACM Nexus</div>
      <div class="event-subtitle animate__animated animate__backInLeft">Unite Through Innovation</div>
    </div>
    <div class="content">
      <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Event Details:</span></strong></span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;'>Event Name:</span></strong></span><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span><span style='font-family: "Times New Roman", serif; font-size: 20px;'>ACM Nexus: Unite Through Innovation</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;'>Date and Time:</span></strong></span><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span><span style='font-family: "Times New Roman", serif; font-size: 20px;'>January 5th, 2024, from 1:00 PM to January 6th, 2024, 5:00 PM. </span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;'>Team Size:</span></strong></span><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span><span style='font-family: "Times New Roman", serif; font-size: 20px;'>4 members per team</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Overview:</span></strong></span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;'>Theme:</span></strong></span><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span><span style='font-family: "Times New Roman", serif; font-size: 20px;'>Innovation across multiple domains</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;'>Objective:</span></strong></span><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span><span style='font-family: "Times New Roman", serif; font-size: 20px;'>Encourage creative solutions to diverse problem statements within the given themes.</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 20px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>General Rules:</span></strong></span></p>
<ul style="list-style-type: disc;">
    <li style="font-size: 20px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Team Formation:</span></strong>
        <ol style="list-style-type: circle; font-size: initial;">
          <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Teams must consist of exactly 4 members.</span></li>
        </ol>
    </li>
    <li style="font-size: 20px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Eligibility:</span></strong>
        <ol style="list-style-type: circle; font-size: initial;">
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Open to all participants interested in problem-solving and innovation.</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Participants must abide by the event&apos;s Code of Conduct.</span></li>
        </ol>
    </li>
    <li style="font-size: 20px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Project Development:</span></strong>
        <ol style="list-style-type: circle; font-size: initial;">
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Projects should align with at least one of the provided problem statements.</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Use of open-source libraries and APIs is permitted.</span></li>
        </ol>
    </li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Submission:</span></strong></span></p>
<ul style="list-style-type: disc;">
    <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Each team must submit their project by the specified deadline.</span></li>
    <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Submissions should include a presentation (slides or video) and a brief documentation describing the project.</span></li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Judging Criteria:</span></strong></span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 20px;'>Projects will be evaluated based on innovation, technical complexity, relevance to the problem statement, and presentation quality.</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Code of Conduct:</span></strong></span></p>
<ul style="list-style-type: disc;">
    <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Respectful and ethical behaviour is expected from all participants.</span></li>
    <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Plagiarism or using someone else&apos;s work without attribution is strictly prohibited.</span></li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Event Timeline:</span></strong></span></p>
<ul style="list-style-type: disc;">
    <li style="font-size: 20px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>January 5th, 2024:</span></strong>
        <ol style="list-style-type: circle; font-size: initial;">
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>1:00 PM: Event starts.</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>3:00 PM: Round 1 of evaluation</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>8:00 PM: Round 2 of evaluation</span></li>
        </ol>
    </li>
    <li style="font-size: 20px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>January 6th, 2024:</span></strong>
        <ol style="list-style-type: circle; font-size: initial;">
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>11:00 AM: Round 3 of evaluation</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>1:00 PM: Event ends, project submissions close.</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>1:30 PM - 3:30 PM: Project presentations and judging.</span></li>
            <li style="font-size: 20px;"><span style='line-height: 107%; font-family: "Times New Roman", serif;'>4:00 PM: Winners announced, closing ceremony.</span></li>
        </ol>
    </li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-size: 24px; line-height: 107%; font-family: "Times New Roman", serif;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Prizes:</span></strong></span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 20px;'>Prizes will be awarded to the top-performing teams based on the judging criteria</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style="font-size: 24px;"><strong><span style='line-height: 107%; font-family: "Times New Roman", serif;'>Disclaimer:</span></strong></span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 20px;'>ACM KLS GIT reserves the right to modify the event rules and guidelines if deemed necessary. Any changes will be communicated to the participants promptly</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family: "Times New Roman", serif; font-size: 24px;'>&nbsp;</span></p>    
</div>
    
    <div class="cover">

    </div>
    </div>

{% endblock body %}