.inner-container {
    max-width: 400px;
    background: #0000007a;
    display: flex;
    /* background-color: red; */
    width: 90%;
    /* max-width: 1000px; */
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
}
.inner-container>*{
    margin: 1rem;
    font-size: 1.5rem;;
}
.inner-container>input {
    border: none;
    border: none;
    border-bottom: solid 1px;
    padding: .5rem;
    color: white;
    padding: .5rem;
    outline: none;
    background: #0000004d;
}
.inner-container>input:focus {
    border: none;
    border: none;
    border-bottom: solid 1px;
    padding: .5rem;
    color: white;
    padding: .5rem;
    outline: none;
    background: #0000004d;
}